@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
}
.be{
    font-size: 80px;
    color: #FABE4C;
    padding-top: 108px;
}
.of{
    font-size: 80px;
    color: #363958;
}
.my-pic{
    width: 80%;
    border-radius: 50%;
    background-color: rgb(241, 172, 106);
    /* background-color: #8da822; */
}

p{
    font-size: 16px;
    color: #3E3E3E;
    font-weight: 100;
}
.button{
width: 170px;
height: 60px;
border: none;
background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
border-radius: 10px;
}

.button a{
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    padding: 18px 32px;
    margin-left: 10px;
   
}
.fa-shopping-cart{
    padding-right: 10px;
}

/* banner part end  */

.women-title{
    padding-top: 50px;
    font-size: 48px;
    color: #363958;
}
.card{
    border: none;
    width: 100%;
}
.card-title{
    font-size: 24px;
}
.img-item{
    border-radius: 20px;
    padding: 20px 40px;
}
.price{
font-size: 36px;
color: #FABE4C;
margin-right: 25px;
}